
fieldset{
    border: none;
}
output{
    display: inline-block;
    min-width: 2.5em;
}
label, output{
    padding: 2px 9px;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 1.1em;
}
label[for=r], output[for=r]{
    background-color: #f00;
}
label[for=g], output[for=g]{
    background-color: #0f0;
}
label[for=b], output[for=b]{
    background-color: #00f;
}
#hex{
    min-width: 4.5em;
    font-size: 3em;
    background: rgba(255,255,255,.3);
}

body{
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
}
.color {
    display: inline-block;
    zoom:1; *display: inline;
    width: 100px;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
    margin: 0 20px;
    vertical-align: middle;
}
.output {
    display: inline-block;
    zoom: 1; *display: inline;
    vertical-align: middle;
    overflow: hidden;
}
.sliders dt,
.output dt {
    float: left;
    clear: left;
    width: 50px;
    height: 40px;
    line-height: 40px;
}
.sliders dd,
.output dd {
    float: left;
    height: 40px;
    line-height: 40px;
    margin: 0;
}


#parent_div_2 {
    width: 500px;
    height: 470px;
    border: 1px solid red;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
}


 #parent_div_1, #parent_div_3 {
    width: 590px;
    height: 500px;
    border: 1px solid red;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
}
.child_div_1 {
    float: left;
    border: 1px solid green;
    margin-right: 5px;
}

.frame_control {
    border: 1px solid blue;
    width:98%;
    height: 10%;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    overflow-x: auto;

}

canvas{
    background-size: cover;
}
canvas.canvasColor {

 background:url(filterSharpen.png);
    background-size: cover;
}

canvas.canvasMask {

    background-size: cover;
}
#layer2{
    background-size: cover;
}

html {
    height: 100%;
    background-color:#deeaee;
}
body {
    min-height: 900%;
    background-color:white;
}
.content {

    min-height: calc(100vh - 90px);
}

.footer {
    height: 50px;
}

.child_div_2{
    padding-top: 400px;
}


