	.sliders {
    display: inline-block;
    zoom: 1; *display: inline;
    width: 210px;
    vertical-align: middle;
    overflow: hidden;
}
.color {
    display: inline-block;
    zoom:1; *display: inline;
    width: 100px;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
    margin: 0 20px;
    vertical-align: middle;
}
.output {
    display: inline-block;
    zoom: 1; *display: inline;
    vertical-align: middle;
    overflow: hidden;
}
.sliders dt,
.output dt {
    float: left;
    clear: left;
    width: 50px;
    height: 40px;
    line-height: 40px;
}
.sliders dd,
.output dd {
    float: left;
    height: 40px;
    line-height: 40px;
    margin: 0;
}

#parent_div_1, #parent_div_2, #parent_div_3 {
  width: 480px;
  height: 360px;
  border: 1px solid red;
  margin-right: 10px;
  margin-left: 10px;
  float: left;
}
.child_div_1 {
  float: left;
  border: 1px solid green;
  margin-right: 5px;
}

.frame_control {
	  border: 1px solid blue;
	  width:98%;
	  height: 10%;
	  margin-top: 10px;
	  margin-right: 10px;
  	  margin-left: 10px;
	  float: left;
   	  overflow-x: auto;
    
}




html {
  height: 100%;
  background-color:#deeaee;
}
body {
  min-height: 100%;
  background-color:white;
}
.content {
   min-height: calc(100vh - 70px);
}

.footer {
  height: 50px;
}